<div class="home-form">
    <h2>Join room</h2>
    <table>
        <tr>
            <td class="left">
                <label for="room-name-join">Room name</label>
            </td>
            <td class="right">
                <input id="room-name-join" type="text" />
            </td>
        </tr>
        <tr>
            <td class="left">
                <label for="user-name-join">Player name</label>
            </td>
            <td class="right">
                <input id="user-name-join" type="text" />
            </td>
        </tr>
    </table>
    <button>
        Join!
    </button>
</div>
