<div class="home-form">
    <h2>Create room</h2>
    <table>
        <tr>
            <td class="left">
                <label for="room-name-create">Room name</label>
            </td>
            <td class="right">
                <input id="room-name-create" type="text" />
            </td>
        </tr>
        <tr>
            <td class="left">
                <label for="user-name-create">Player name</label>
            </td>
            <td class="right">
                <input id="user-name-create" type="text" />
            </td>
        </tr>
    </table>
    <button>
        Create!
    </button>
</div>
